# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
ENV/
.env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env
.env.*

# Logs
*.log

# Test outputs
htmlcov/
.coverage
.tox/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Others
*.sqlite3
*.db
